.App {
  text-align: center;
}

.starshipcard{
  width: 600px;
  margin: 0 auto;
}

.display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.starship{
  height: 100px;
  width: 150px;
  text-decoration: none;
  background: linear-gradient(45deg, green, darkgreen);
  box-shadow: 10px 10px rgb(23, 81, 23);
  margin: 10px;
  color: white;
}
.ship-display{
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 auto;
}