*{box-sizing: border-box;}

body{font-family: Arial, Helvetica, sans-serif;
margin: 0;}

nav{display: flex;
height: 50px;
background-color: rgb(65, 194, 194);
flex-direction: row;
align-items: center;}

nav div{font-size: 20px;
    margin: 10px;
    color: white;}

    nav > div:last-child{margin-left: auto;}